@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #D0C7C2;
  font-family: "arial", "sans serif";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  max-width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  color: white;
  background-color: #A79C98;
}

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: 100%;
  }
}

.navigation {
  width: 100%;
  height: 10vh;
  text-align: center;
  position: relative;
}

.navigation__hello {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Oooh Baby", "sans-serif";
  font-size: 2.2rem;
}

@media screen and (max-width: 1000px) {
  .navigation__hello {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .navigation__hello {
    font-size: 1.4rem;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #451E23;
  width: 100%;
  height: 50px;
}

.search__icon {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  text-align: center;
  font-size: 22px;
  margin-top: 14px;
}

.search__chears {
  font-family: "arial", "sans serif";
  margin: 10px 10px;
  font-size: 1.2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 1000px) {
  .search__chears {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .search__chears {
    font-size: 0.7rem;
  }
}

.search__input {
  width: 30%;
  max-height: 40px;
  min-height: 30px;
  margin: 10px 10px;
  letter-spacing: 2px;
  border: 2px solid black;
  background-color: white;
}

.search__input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 2px 1px black;
          box-shadow: 0 0 2px 1px black;
  font-weight: bold;
}

.main-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dictionary {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 2px solid #451E23;
  /*&__icon {
        align-self: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }*/
}

.dictionary__letter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  /*&:nth-last-child(2) {
            margin-bottom: 8px;
        }*/
}

.dictionary__letter:hover {
  background-color: #451E23;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.drinks {
  min-height: 55vh;
  margin-top: 50px;
  -ms-flex-preferred-size: calc(100% - 40px);
      flex-basis: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.drinks__no-drinks {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.drinks__drink {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

@media screen and (max-width: 1000px) {
  .drinks__drink {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media screen and (max-width: 600px) {
  .drinks__drink {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

.drinks__drink__name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  padding: 10px 20px;
}

.drinks__drink__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding: 20px;
  width: 80%;
  height: 30vh;
  opacity: 0.9;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 40px;
  width: 600px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  border-radius: 5px;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .details {
    width: 80vw;
  }
}

.details__name {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oooh Baby", "sans-serif";
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  font-size: 2rem;
}

.details__close-btn {
  cursor: pointer;
}

.details__title {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.details__prep {
  width: 100%;
}

.hidden {
  display: none;
}

.fullscreen-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background: rgba(90, 90, 90, 0.5);
}

.footer {
  background-color: #451E23;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 10vh;
  text-align: center;
  padding: 15px 25px;
}

.footer__quote {
  font-size: 1rem;
}

.fa-arrow-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  background-color: #887575;
  display: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #888;
          box-shadow: 0 0 2px #888;
  padding: 0.3em 0.3em;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */