@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$main-color: #A79C98;
$page-color: #D0C7C2;
$dark-color: #451E23;
$special-font: 'pt sans', 'roboto', 'arial', 'sans-serif';
$default-font: 'arial', 'sans serif';

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $page-color;
    font-family: $default-font;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    max-width: 80%; //1000px
    min-height: 100vh;
    margin: 0 auto;
    color: white;
    background-color: $main-color;
}

.navigation {
    width: 100%;
    height: 20vh;
    text-align: center;
    position: relative;
    &__img {
        //DO POPRAWY
        width: 100%;
        height: 100%;
    }
    &__hello {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $special-font;
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $dark-color;
    width: 100%;
    height: 50px;
    &__icon {
        flex-basis: 40px;
        text-align: center;
        font-size: 22px;
        margin-top: 14px;
    }
    &__chears {
        font-family: $special-font;
        text-align: center;
        margin: 10px 10px;
        font-size: 18px;
    }
    &__input {
        width: 30%;
        max-height: 40px;
        min-height: 30px;
        margin: 10px 10px;
        letter-spacing: 2px;
        border: 2px solid black;
        background-color: white;
        &:focus {
            outline: 0;
            box-shadow: 0 0 2px 1px black;
            font-weight: bold;
        }
    }
}

.main-section {
    width: 100%;
    display: flex;
}

.dictionary {
    flex-basis: 40px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid $dark-color;
    &__letter {
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
        margin-top: 8px;
        /*&:nth-last-child(2) {
            margin-bottom: 8px;
        }*/
        &:hover {
            background-color: $dark-color;
            cursor: pointer;
            transition: 0.8s;
        }
    }
    &__icon {
        align-self:center;
        bottom: 0px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.drinks {
    min-height: 55vh;
    margin-top: 50px;
    flex-basis: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__no-drinks {
        align-self: center;
        text-align: center;
    }
    &__drink {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        &__name {
            align-self: center;
            font-size: 18px;
            padding: 10px 20px;
        }
        &__image {
            align-self: center;
            order: -1;
            padding: 20px;
            width: 80%;
            height: 300px;
            opacity: 0.9;
        }
    }
}

.footer {
    background-color: $dark-color;
    flex-basis: 100%;
    height: 10vh;
    text-align: center;
    padding: 15px 25px;
    &__quote {
        font-size: 1rem;
    }

}