@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

$main-color: #A79C98;
$page-color: #D0C7C2;
$dark-color: #451E23;
$special-font: 'Oooh Baby', 'sans-serif';
$main-font: 'arial';
$default-font: 'arial', 'sans serif';

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $page-color;
    font-family: $default-font;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    max-width: 80%; //1000px
    min-height: 100vh;
    margin: 0 auto;
    color: white;
    background-color: $main-color;
    @media screen and (max-width: 800px) {
        max-width: 100%; 
    }
}

.navigation {
    width: 100%;
    height: 10vh;
    text-align: center;
    position: relative;
    &__hello {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $special-font;
        font-size: 2.2rem;
        @media screen and (max-width: 1000px) {
            font-size: 1.8rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 1.4rem;
        }
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $dark-color;
    width: 100%;
    height: 50px;
    &__icon {
        flex-basis: 40px;
        text-align: center;
        font-size: 22px;
        margin-top: 14px;
    }
    &__chears {
        font-family: $default-font;
        margin: 10px 10px;
        font-size: 1.2rem;
        flex-grow: 1;
        @media screen and (max-width: 1000px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 0.7rem;
        }
    }
    &__input {
        width: 30%;
        max-height: 40px;
        min-height: 30px;
        margin: 10px 10px;
        letter-spacing: 2px;
        border: 2px solid black;
        background-color: white;
        &:focus {
            outline: 0;
            box-shadow: 0 0 2px 1px black;
            font-weight: bold;
        }
    }
}

.main-section {
    width: 100%;
    display: flex;
}

.dictionary {
    flex-basis: 40px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid $dark-color;
    &__letter {
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
        margin-top: 8px;
        /*&:nth-last-child(2) {
            margin-bottom: 8px;
        }*/
        &:hover {
            background-color: $dark-color;
            cursor: pointer;
            transition: 0.8s;
        }
    }
    /*&__icon {
        align-self: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }*/
}

.drinks {
    min-height: 55vh;
    margin-top: 50px;
    flex-basis: calc(100% - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__no-drinks {
        align-self: center;
        text-align: center;
    }
    &__drink {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        @media screen and (max-width: 1000px) {
            flex-basis: 40%;
        }
        @media screen and (max-width: 600px) {
            flex-basis: 80%;
        }
        &__name {
            align-self: center;
            font-size: 18px;
            padding: 10px 20px;
        }
        &__image {
            align-self: center;
            order: -1;
            padding: 20px;
            width: 80%;
            height: 30vh;
            opacity: 0.9;
        }
    }
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 40px;
    width: 600px;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    z-index: 2;
    @media screen and (max-width: 800px) {
        width: 80vw;
    }
    &__name {
        text-align: center;
        text-transform: uppercase;
        font-family: $special-font;
        flex-grow: 3;
        font-size: 2rem;
    }
    &__close-btn {
        cursor: pointer;
    }
    &__title {
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    &__prep {
        width: 100%;
    }
}

.hidden {
    display: none;
}

.fullscreen-container {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: rgba(90, 90, 90, 0.5);
}

.footer {
    background-color: $dark-color;
    flex-basis: 100%;
    height: 10vh;
    text-align: center;
    padding: 15px 25px;
    &__quote {
        font-size: 1rem;
    }

}

.fa-arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background-color: rgb(136, 117, 117);
    display: none;
    border-radius: 30px;
    box-shadow: 0 0 2px #888;
    padding: 0.3em 0.3em;
    cursor: pointer;
}